@import url("vars.css");

/* =====================================================
   LAYOUT PRINCIPAL
===================================================== */

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--gray-100);
    color: var(--gray-900);
}

.layout {
    display: flex;
    /* min-height: 100vh; */
    min-height: calc(100vh - 65px);

}



/* =====================================================
   SIDEBAR
===================================================== */

 .sidebar {
    width: var(--sidebar-width);
    background: var(--white);
    border-right: 1px solid var(--gray-200);
    border-radius: var(--radius);
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    /* flex: 0 0 ; */

    position: fixed;
    top: 65px;              /* compensa a topbar */
    left: 0;
    height: calc(95vh - 65px);
    overflow-y: hidden;
    z-index: 1000;
    gap: 1.5rem;

} 


/* Cabeçalho */

.sidebar-header {
    margin-bottom: 2rem;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--ufms-blue-900);
}

.sidebar-header span {
    font-size: 0.85rem;
    color: var(--gray-500);
}

/* Navegação */

.sidebar-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* overflow-y: auto; */
    /* padding-right: 0.3rem;  */
}

/* Seções */

.nav-section {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 390px);
    overflow-y: auto;
}

.nav-title {
    font-size: 0.95rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--ufms-blue-900);
    letter-spacing: 0.5px;
}

.nav-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: var(--ufms-blue-700);
    margin-top: 0.1rem;
    border-radius: 3px;
}

/* Lista */

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin: 0;
    padding: 0;
}

/* Links simples */

.sidebar-nav a {
    display: block;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--gray-700);
    transition: all 0.2s ease;
    padding: 0.3rem 0.5rem;  

}

.sidebar-nav a:hover {
    background: var(--ufms-blue-50);
    color: var(--ufms-blue-900);
}

/* Item ativo */

.sidebar-nav a.active {
    background: var(--ufms-blue-100);
    color: var(--ufms-blue-900);
    font-weight: 600;
}

.sidebar .overview-link {
    font-weight: 600;
    color: var(--ufms-blue-700);
}
.sidebar-credits {
    margin-top: auto;
    padding-top: 1rem;
    border-top: 1px solid var(--ufms-blue-500);
    font-size: 0.85rem;
}
.sidebar-menu {
    flex: 1;
    overflow-y: auto;
}
.sidebar-credits a {
    display: block;
    color: var(--gray-600);
    text-decoration: none;
    transition: 0.2s ease;
    margin-bottom: 0.4rem;
    margin-top: -.5rem;
}



/* =====================================================
   SUBMENU COLAPSÁVEL
===================================================== */

.nav-group {
    display: flex;
    flex-direction: column;
}

.nav-group-toggle { 
    background: none;
    border: none;
    text-align: left;
    /* padding: 0.5rem 0.75rem; */
    padding: 0.3rem 0.5rem;  

    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--gray-700);
    transition: all 0.2s ease;
}

.nav-group-toggle:hover {
    background: var(--gray-100);
}

/* Submenu */

.nav-submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

.nav-group.open .nav-submenu {
    max-height: calc(30vh);    
    overflow-y: auto;        /* ativa scroll */
}

/* Links do submenu */

.nav-submenu a {
    font-size: 0.85rem;
    padding: 0.4rem 0.75rem;
    color: var(--gray-600);
    padding-left: 1rem;
}

.nav-submenu a:hover {
    background: var(--ufms-blue-50);
    color: var(--ufms-blue-900);
}

/* =====================================================
   CONTEÚDO PRINCIPAL
===================================================== */

.main-content {
    flex: 1;
    padding: 5rem;
    margin-left: var(--sidebar-width);
    margin-bottom: 40px;

    position: relative;   /* necessário para o ::before */
    overflow: hidden;     /* evita vazamento visual */

}

.main-content::before {
    content: "";
    position: absolute;
    inset: 0;
    margin-top: 10px;
    /* background-image: url("../images/background.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    opacity: 0.21;     /* controla transparência */
    pointer-events: none;

    z-index: 0;
}

.main-content > * {
    position: relative;
    z-index: 1;
}


.main-header h1 {
    margin: 0;
    font-size: 1.8rem;
    color: var(--ufms-blue-900);
}

.main-header p {
    margin-top: 0.3rem;
    color: var(--gray-500);
};

/* Botão */

.btn-primary {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.45rem 1rem;
    border-radius: 8px;
    background: var(--ufms-blue-900);
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 600;
    /* transition: background 0.2s ease; */
}

.btn-primary:hover {
    background: var(--ufms-blue-700);
}

/* =====================================================
   RESPONSIVIDADE
===================================================== */

/* @media (max-width: 900px) {

    .sidebar {
        position: fixed;
        left: -280px;
        top: 0;
        height: 100vh;
        z-index: 1000;
        transition: left 0.3s ease;
    }

    .sidebar.open {
        left: 0;
    }

    .main-content {
        padding: 1.5rem;
    }
} */




/* =====================================================
   UFMS TOPBAR FIXA - TEMA INSTITUCIONAL
   ===================================================== */

#ufmsTopBar {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 65px;
    background: linear-gradient(
        135deg,
        var(--ufms-blue-900),
        var(--ufms-blue-700)
    );
    color: white;
    display: flex;
    align-items: center;
    z-index: 9999;
}


/* Conteúdo interno */

.topbar-content {
    width: min(1400px, 95%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Marca institucional */

.topbar-left {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.ufms-brand {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.ufms-course {
    font-size: 0.85rem;
    opacity: 0.9;
}

/* Breadcrumb */

.breadcrumb {
    font-size: 0.8rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
}


.breadcrumb a {
    color: white;
    text-decoration: none;
    opacity: 0.9;
}

.breadcrumb a:hover {
    text-decoration: underline;
}



.breadcrumb .current {
    font-weight: 700;
}


#mainFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    height: 25px;                 /* um pouco maior */
    
    display: flex;                /* ativa flex */
    align-items: center;          /* centraliza verticalmente */
    justify-content: center;      /* centraliza horizontalmente */

    background: var(--ufms-blue-900);
    color: white;
    /* color: #ccc; */

    font-size: 0.75rem;
    z-index: 9999;
}


#mainFooter a {
    color: white;
    text-decoration: none;
    opacity: 0.9;
}

#mainFooter a:hover {
    text-decoration: underline;
}










/* =====================================================
   CARD BASE
===================================================== */
.algorithms-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;
}


.algorithm-card {
    text-decoration: none;  
    color: inherit;          
    display: flex;
    flex-direction: column;

    background: var(--white);
    border-radius: 18px;
    padding: 1.8rem;
    border: 1px solid var(--gray-200);
    box-shadow: 0 6px 18px rgba(0,0,0,0.4);
    transition: all 0.25s ease;
    

}

.algorithm-card:hover {
    transform: translateY(-6px);
    /* box-shadow: 0 18px 40px rgba(0,0,0,0.06); */
    box-shadow: 0px 0px 10px var(--ufms-blue-100);
    border-color: var(--ufms-blue-500);


}

/* .card-title::after {
    content: " →";
    font-weight: 600;
    opacity: 0;
    transform: translateX(-6px);
    display: inline-block;
    transition: all 0.25s ease;
}
.algorithm-card:hover .card-title::after {
    opacity: 1;
    transform: translateX(4px);
} */

.algorithm-card:hover .card-title {
    color: var(--ufms-blue-700);
}

.algorithm-card .btn-primary {
    margin-top: auto;       
    align-self: center;     
    width: auto;            
    padding: 0.5rem 1.2rem; 
}


/* Hover mais elegante */





.algorithm-card h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.algorithm-card p {
    font-size: 0.9rem;
    color: var(--gray-600);
}

.card-title {
    font-size: 1.2rem;
    font-weight: 700;
}       


/* Badge */


.badge {
    display: inline-flex;
    padding: 0.3rem 0.7rem;
    border-radius: 999px;
    font-size: 0.75rem;
    border-radius: 20px;
    margin-bottom: 0.8rem;
    font-weight: 600;
    align-self: flex-start;
    width: fit-content;
    flex-wrap: wrap;   /* permite quebrar linha se necessário */
    gap: 0.5rem;       /* espaço entre badges */
}



.badge.arvores {
    background: rgba(0, 168, 89, 0.20);
    color: #007a41;
    border: 2px solid rgba(0, 168, 89, 0.5);
}

.badge.grafos {
    background: rgba(31, 111, 235, 0.20);
    color: #0f5fd6;
    border: 2px solid rgba(31, 111, 235, 0.5);
}

.badge.ordenacao {
    background: rgba(124, 58, 237, 0.20);
    color: #6b21d1;
    border: 2px solid rgba(124, 58, 237, 0.5);
}

.badge.hash {
    background: rgba(245, 158, 11, 0.22);
    color: #c56a00;
    border: 2px solid rgba(245, 158, 11, 0.5);
}